<html>

<head>
  {% include 'layout.html' %}
</head>

<body id="page-top">
  
  <section id="pa1">
    <div class="container px-4">
      <div class="row gx-4 justify-content-center">
        <div class="col-lg-11">
          <h1 class="h3 mb-2 text-gray-800">Tentang Pembelajaran Jarak Jauh</h1>
          <p class="lead">Pembelajaran Jarak Jauh atau bisa disebut PJJ adalah kegiatan alternatif yang dikeluarkan
            sebagai kebijakan dari pemerintah untuk melanjutkan proses pembelajaran para pelajar baik dari tingkat SD,
            SMP, SMA, dan Perguruan Tinggi Negri. Pemerintah juga mengeluarkan kebijakan Pembelajaran Jarak Jauh (PJJ)
            pada masa Pandemi tersebut. Kebijakan PJJ pertama kali di laksanakan 16 Maret 2020 di seluruh wilayah
            Indonesia setelah kebijakan PSBB diberlakukan.</p>
          <ul>
            <center><img src="{{ url_for('static', filename='images/ilustrasi.png') }}" width="500" height="281.25"></center>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-light" id="pa2">
    <div class="container px-4">
      <div class="row gx-4 justify-content-center">
        <div class="col-lg-11">
          <p class="lead">Sejak pandemi Covid-19 melanda, dunia pendidikan terpaksa memindahkan proses belajar mengajar
            dari sekolah ke rumah untuk memutus mata rantai penyebaran virus corona. Tak terasa, sudah lebih dari
            setengah tahun kegiatan Belajar dari Rumah (BDR) dilaksanakan. Meski masih banyak kendala yang dihadapi,
            satuan pendidikan mulai terbiasa menyelenggarakan BDR. Metode BDR sendiri ada dua, yaitu Pembelajaran Jarak
            Jauh Dalam Jaringan (PJJ Daring) dan PPJ Luar Jaringan (Luring). PJJ Daring secara khusus menggabungkan
            teknologi elektronik dan teknologi berbasis internet, sementara PJJ Luring dapat dilakukan melalui siaran
            televisi, radio, modul belajar mandiri, bahan cetak maupun media belajar dari benda di lingkungan sekitar.
          </p>
        </div>
      </div>
    </div>
  </section>
  
</body>

</html>